* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(20, 20, 20, 0.0);
}

button {
  border-radius: 12;
  color: #FFFFFF;
  background-color: rgba(20, 20, 20, 0.52);
  border-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  margin: 7px;
  transition: all 0.3s ease-in-out;
}

button:focus, button:active {
	background-color: rgba(240, 240, 240, 0.52);
  border-radius: 30;
  background-size: 25%;
}
button:hover {
  background-size: 25%;
  border-radius: 30;
}
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
